<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus" android:required="false"/>

    <application
        android:supportsRtl="true"

        >
        <activity
            android:name=".natural_expression_detection.NaturalExpressionDetectionActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
       <activity
            android:name=".passport_detection.PassportDetectionActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".national_id_detection.NationalIdDetection"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".liveness_smile_detection.LivenessSmileDetectionActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>
</manifest>